.Button{
  width: 150px;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.Button:hover{
  color: black;
  background-color: white;
}